body{
    font-family: 'Montserrat-bold', sans-serif;
}
.header{
    background-color:#E1F2F7;
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    height: 60px;
    margin: 0%;
    color: #EF0D50 ;
    font-size:17px;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logoimg{
    height: 30px;
    width: 50px;
    margin-left: 10px;
    border-radius: 5px;
    margin-right: 5px;
    
}
.ri-menu-line{
    font-size: 25px;
    padding: 5px;
    padding-right: 30px;
}
h2{
    padding-left: 10px;
    
}



.body-field{
    padding-top: 68px;
    display: flex;
    flex-direction: row;

}
.solgan{
    text-align: center;
    color: #EF0D50;
    font-size: 25px;
    
}
h1{
   line-height: 1.8;
}
.adoptionflex{
    /* background-color:hsl(191, 71%, 86%) ; */
    display: flex;
    height: 500px;
    width: 100%;
}
.adopt{
    font-size: 25px;
    padding-left:50px;
}
.dropdown{
    height: 50px;
    width:700px;
    font-size: 20px;
    border-color: rgb(155, 155, 155);
    border-radius: 5px;
    
}
.citysearch{
    height: 50px;
    width: 700px;;
    font-size: 20px;
    border-color: rgb(155, 155, 155);
    border-radius: 5px;
}
button a{
    text-decoration: none;
    color:white;
    
}
button a:hover{
    color: black;
}
button {
    
    height: 50px;
    width: 90px;
    background-color: #EF0D50;
    color: white;
    font-size: 17px;
    border-radius: 5px;
    border-color: rgb(155, 155, 155);
}
button:hover{
    background-color:#E5BACE;
    color: black;
   
    border-color: rgb(155, 155, 155);
    border-radius: 5px;
}

